# Copyright (c) 2026 HPMicro
# SPDX-License-Identifier: Apache-2.0

if BOARD_HPM5100EVK

config HEAP_MEM_POOL_SIZE
	default 2048

config BUILD_OUTPUT_HEX
	default y

config UART_INTERRUPT_DRIVEN
	default y

endif
